* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration:none;
}
.header {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
}
.header ul li{
    text-decoration: none;
    float:inline-start;
    margin: 2px 10px 2px 10px;
    
}
.header ul .right{
    float:right;
}
.header ul{
    list-style: none;
}
.header ul li a{
   color:white;
   font-size: 1.5rem;

}
.header ul li a:hover {
    background-color: #555; /* Change this to your desired hover background color */
    color: white /* Change this to your desired hover text color */
}
body {
    background-image: url('images/Bus.png'); /* Ensure the path is correct */
    background-size: cover;
    background-position: center; /* Uncommented to center the image */
    background-repeat: no-repeat;
    height: 100vh; /* Ensure body takes full height */
    width: 100vw; /* Ensure body takes full width */
}
h1{
    padding-bottom: 20px;
}
iframe
{
            width: 100%; /* Adjust height considering the header height */
            border: none;
            height:80vh;
            overflow:auto;        
            
 }
