/* Reset some default styles */
body, html, div, form, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Style for the box containing the form */
.box {
    width: 90%;
    max-width: 600px;
    margin: 40px auto; /* Reduced margin */
    padding: 15px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* General form styles */
.form1 {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px; /* Reduced margin */
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="radio"] {
    width: auto;
    margin-right: 10px; /* Add space between radio button and label */
}

.form-group .radio-group {
    display: flex;
    align-items: center;
}

.form-group .radio-group label {
    margin-right: 20px;
    font-weight: normal;
}

.form-group textarea {
    resize: vertical;
}

/* Submit button styles */
button[type="submit"] {
    padding: 8px 15px; /* Reduced padding */
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 768px) {
    .box {
        width: 100%;
        margin: 20px;
        padding: 10px; /* Reduced padding */
    }
}

@media (max-width: 480px) {
    .box {
        margin: 10px;
        padding: 8px; /* Reduced padding */
    }
    
    .form-group input, .form-group select, .form-group textarea {
        padding: 6px; /* Reduced padding */
    }
    
    button[type="submit"] {
        padding: 6px 10px; /* Reduced padding */
        font-size: 14px;
    }
}

/* Header styles */
.header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    background-color: #333;
    color: white;
}

.header h1 {
    font-size: 2rem;
    margin: 0;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header ul li {
    margin: 0 15px;
    font-size: 1rem;
}

.header ul li a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header ul li a:hover {
    background-color: #555;
    color: red;
}

.header ul li a:visited {
    background-color: #555;
    color: white;
}
